*.pyc
__pycache__
.idea/
.vscode/

build/
dist/
*egg-info

*.pth
*.onnx
*.xml
*.bin
*.mapping

*.tar.gz
*.zip

# Pytest
.pytest_cache
.mypy_cache
.ruff_cache

venv*

flowers
hie
images
otx_models
sal_map
sal_map_multilabel
white_sal_map*
masks