# Tmp data folders
.data

# Default venv
.ovxai
venv*

*.pyc
__pycache__
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*egg-info
.eggs/

# Default model directory
otx_models/
*.pth
*.onnx
*.xml
*.bin
*.mapping

*.tar.gz
*.zip

# Pytest
.pytest_cache
.mypy_cache
.ruff_cache

*.jpg
*.jpeg
*.png
